// cn of yuikawayuzuka - Benjee10_sharedAssets (VABOrganizer 子分类补丁)
// 源文件: Benjee10_sharedAssets/Patches/VABOrganizer/Localization/en-us.cfg
Localization
{
    zh-cn
    {
        #LOC_VABOrganizer_Subcategory_ht2_utilityRack  = 通用设备架
        #LOC_VABOrganizer_Subcategory_ht2_scienceRack  = 科学设备架
        #LOC_VABOrganizer_Subcategory_ht2_scienceSample = 科学样本架
        #LOC_VABOrganizer_Subcategory_ht2_trussDock    = 非加压连接件
        #LOC_VABOrganizer_Subcategory_ht2_cupolas      = 观测舱
        #LOC_VABOrganizer_Subcategory_ht2_logistics    = 后勤舱
    }
}
