// cn of yuikawayuzuka - Kerbal Engineer Redux
// 源文件: KerbalEngineer/Localization/en-us.cfg
// 术语: 厂商名按 KSP 官方惯例意译（如 C7 Aerospace -> C7航天部门）
Localization
{
    zh-cn
    {
        #KE_ER7500_title         = ER-7500 计算机飞行单元
        #KE_ER7500_manufacturer  = 赛布泰克解决方案有限公司
        #KE_ER7500_description   = ER-7500 让坎巴拉工程系统回归本源。经证实，本单元的运算速度至少是标准硬盘的 1x10^-5 倍……别告诉别人，其实它就是把芯片版塞进了一个带闪光灯和旋转部件的花哨盒子里。
        #KE_ER7500_tags          = 坎 工程 复刻 计算 飞行 磁带 ker engi redux compu flight tape

        #KE_ES_title             = 坎巴拉工程系统
        #KE_ES_manufacturer      = 赛布泰克解决方案有限公司
        #KE_ES_description       = 坎巴拉工程系统引以为傲的是高达 128 位的固态存储，以及足以同时运行至少 3 块电子表的处理能力。
        #KE_ES_tags              = 坎 工程 复刻 计算 飞行 芯片 ker engi redux compu flight chip
    }
}
