// cn of yuikawayuzuka - NavyFish (Docking Port Alignment Indicator)
// 术语: DPAI / RPM / HUD 为缩写，保留原文
// 源文件: NavyFish/Localization/dpai_dictionary_en.cfg
Localization
{
    zh-cn
    {
        #use_stock_toolbar                 = 使用原版工具栏
        #use_blizzy_toolbar                = 使用 Blizzy 工具栏
        #display_hud_target_port_icon      = 显示 HUD 目标端口图标
        #display_when_using_rpm            = 使用 RPM 时显示
        #dpai                              = DPAI
        #dpai_settings                     = DPAI 设置
        #enable_auto_targeting_and_cycling = 启用自动锁定（及循环切换）
        #exlude_docked_ports               = 排除已对接端口
        #restrict_docking_ports            = 限制对接口
        #gui_scale                         = 界面缩放：
        #hud_target_port_icon_size         = HUD 目标端口图标大小：
        #invert_alignment_x                = 反转对齐 X 轴
        #invert_alignment_y                = 反转对齐 Y 轴
        #invert_roll_direction             = 反转滚转方向
        #invert_translation_x              = 反转平移 X 轴
        #invert_translation_y              = 反转平移 Y 轴
        #none                              = 无
        #no_port_targeted                  = 未锁定端口
        #no_vessel_targeted                = 未锁定飞行器
        #settings                          = 设置
        #target_out_of_range               = 目标超出范围

        #name                              = 名称：
        #ok                                = 确定
        #cancel                            = 取消
        #port_name                         = 端口名称
        #rename_docking_port               = 重命名对接口
        #rename_port                       = 重命名端口
    }
}
